.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1%;
}
.add{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}